<?xml version="1.0" encoding="UTF-8"?>
<!--
web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" 
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

	<display-name>Demo Avalanche</display-name>
	<description>
		Демонстрационное приложение с использованием framework Avalanche
	</description>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<display-name>AvalancheServlet</display-name>
		<servlet-name>AvalancheServlet</servlet-name>
		<servlet-class>ru.funsys.servlet.http.AvalancheServlet</servlet-class>
		<init-param>
			<param-name>avalanche.config</param-name>
			<param-value>${catalina.base}/conf/avalanche-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>avalanche.log4j</param-name>
			<param-value>${catalina.base}/conf/avalanche-log4j.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<!-- 50MB max -->
			<max-file-size>52428800</max-file-size>
			<max-request-size>52428800</max-request-size>
			<file-size-threshold>0</file-size-threshold>
    	</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>AvalancheServlet</servlet-name>
		<url-pattern>/connector/*</url-pattern>
	</servlet-mapping>

</web-app>